<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
            @Scripts.Render("~/bundles/modernizr")
            @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts")
                    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer >Copyright &copy; @DateTime.Now.Year Sensus ApS. All rights reseved</footer>
</body>
</html>
